/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28/09/2022, 10:07:33 p. m.
    Author     : Andrea
*/

#titulousuarios{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .4);

}

#btnAgregar{

    background: #861AEC;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    height: 3rem;
    margin: 0 1rem 0 1rem;
    width: 13.5rem;
    cursor: pointer;

}

#btnAgregar:hover{
    background: #F8DAA3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: black;
    transform: scale(1.1);
}

#fila-titulo {
    border-radius: 1rem 1rem 0 0;
}


.dato{

    width: 1%;
    height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background: #247D97;


}

.dato-user{
    height: 3rem;
    text-align: center;
    font-size: 1.1rem;
    color:white;
    background:#44b4b0;

}

.accion{
    background: #61D6F9;
    border: none;
    border-radius: 5px;
    color: black;
    height: 2rem;
    margin: .5rem .3rem .5rem .3rem;
    font-weight: 600;
    aling-items: center;

}

.accion:hover{
    background: #F8DAA3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: black;
    transform: scale(1.1);
}

.tabla-box{

    margin-bottom: 2rem;

}

.box-formulario{
    display: flex;
    margin: 3rem 0 0 25%;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2rem;
    padding:1rem;
    background: #44b4b0;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    width: 40%;
    border: black solid;
    align-items: center;
}
.form-group{
    display: flex;

    flex-wrap: wrap;
    margin:0;
    width: 90%;
}

.form-control{
    width: 70%;
    margin-bottom: 1rem;
    height: 2rem;
}

.label{
    width: 30%;
    font-size: 1.1rem;
    font-weight: 600;
}

#btn-regresar{
    width: 7rem;
    height: 3rem;
    margin: 1rem 2rem 0 50%;
    font-size: 1.1rem;
    background: #861AEC;
    border:none;

}

#btn-regresar:hover{
    background: #F8DAA3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: black;
    transform: scale(1.1);
}