
#form-box{
    margin: 3% 0 0 30%; 
    width: 40%;
    background: #44b4b0;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    padding: 1rem;
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#saludo{
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .4);
    font-weight: 600;
    color:white;
}

#dato{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .6rem;
    width: 20rem;
}

.boton{
    background: #861AEC;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    height: 3rem;
    margin: 1rem;
    width: 13.5rem;
    cursor: pointer;
}
.boton:hover{
    background: #F8DAA3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: black;
    transform: scale(1.1);
}
