.peludito-titulo{
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: center;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    font-weight: 600;
    color: rgb(50, 34, 4);
}
#galeria{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
}

/*GALERÍA FOTOS*/
#mascota_box{
    width: 17%;
    height: 15%;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px rgba(13, 13, 13, 0.7);
	background: linear-gradient(45grad, #178884, #a24ef0);
    margin-top: 2rem;
}

.img_mascota_box{       /*Caja imágen*/
    width: 100%;
    height: 70%;
}
.img_mascota{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.info_mascota_box{       /*Caja info mascota*/
    text-align: center;
}
.nombre_mascota{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(223, 167, 36);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .5);
}
.texto_mascota1, .texto_mascota2{
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.texto_mascota1{
    color: #fff;
    padding: 0 .5rem 0 .5rem;
}
.texto_mascota2{
    text-align: center;
    font-weight: 600;
    color: rgb(223, 167, 36);
    text-shadow: 2px 5px 5px rgba(148, 18, 18, 0.6);
}

.botones{
    background: #861AEC;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    height: 3rem;
    width: 80%;
    margin-bottom: 1rem;
}
.botones:hover{
    background: #B78DDE;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: black;
    transform: scale(1.1);
}